.centerDisplay
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003a55;
  height:100%;
  font-family: Nunito,Roboto,sans-serif;
  flex-direction: column;
}
/*#Nunito*/
#learnNanoTextContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#learnNanoText
{
  font-size: 68px;
  color: #000034;
  padding-right: 25px;
  line-height: 80%;
  letter-spacing: 8px;
}


.textHomePage{
  color:white;
  font-size:25px;
}